{% extends 'custom_user/base.html' %}

{% block content %}
<style>
     .Header{
            margin-top:20px;
            text-align: center;
     }
</style>
<body>
<h1 class="Header">Displaying spaces in campus {{campus_id}}, building {{building_id}}, floor  {{floor_id}}</h1>
    <h4 class="Header">Back to
        <a href="{% url 'facilities:building_floors' campus_id=campus_id building_id=building_id%}">
            {% url 'facilities:building_floors' campus_id=campus_id building_id=building_id%}
        </a>
    </h4>
    <br>
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Campus Id</th>
                    <th>Building Id</th>
                    <th>Floor Id</th>
                    <th>Space Id</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items%}
                        <tr>
                            <td>
                            {{ campus_id }}
                            </td>
                            <td>
                            {{ building_id }}
                            </td>
                            <td>
                            {{ item.floor}}
                            </td>
                            <td>
                            <a href="{% url 'facilities:space_cubics' campus_id=campus_id building_id=building_id floor_id=floor_id space_id=item.id%}">
                            {{ item.id }}
                            </a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
    </table>

</body>

{% endblock %}