{% extends 'custom_user/base.html' %}

{% block content %}

<body>

<style>
   .Header{
            margin-top:20px;
            text-align: center;
            }
label {
        display: block;
        }
        input:not([type='checkbox']) ,select{
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        line-height: 1.5;
        height: calc(1.5em + .75rem + 2px);
        }
        #error{
         text-align: center;
        }
</style>
<h1 class="Header">Create A Request</h1>
 <div class="row justify-content-center mt-5">
          <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
 </div>
<p id="error"> {{ error }}</p>
<script>
    var now = Date.now();
    $(function () {
    $("#id_destination_date").datepicker({
      format:'dd/mm/yyyy',
      startDate:now,
    });
  });
</script>

</body>

{% endblock %}