{% extends 'custom_user/base.html' %}

{% block content %}

    <body>

    My Requests For More Space

    <ul>
        {% for request in requests%}
        <li>
            <a href="{% url 'focal_point:viewmyrequest' request.id %}">
            Business Group: {{ request.business_group }}
            Request Date: {{ request.date }}
            {% if request.status %}
                Status: {{ request.status}}
            {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{% url 'focal_point:createRequest' %}">
    <input type="button" value="Create a new request from the space planner">
    </a>
</body>

{% endblock %}