{% extends 'custom_user/base.html' %}

{% block content %}
    <body>

    Requests From Users

    <ul>
        {% for request in requests%}
        <li>
            <a href="{% url 'focal_point:viewrequest' request.id %}">
            User: {{ request.user }}
            Request Date: {{ request.request_date }}
            {% if request.status %}
                Status: {{ request.status}}
            {% endif %}
            </a>
        </li>
        {% empty %}
            No requests yet.
        {% endfor %}
    </ul>
</body>

{% endblock %}