{% extends 'custom_user/base.html' %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load bootstrap3 %}

{% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Static Example</title>
  <style>body {font-family: Arial, sans-serif;}</style>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

<style>
    div#filter-requests.div{
        float: left;
        clear: none;
    }

</style>

</head>

<body>
<div id="filter-requests">
<form method="get">
          {{ requests_filter.form.business_group.label_tag }}
          {% render_field requests_filter.form.business_group class="form-control" onchange="this.form.submit()"%}
  </form>
    <div>{% render_table requests_table %}</div>
</div>

<div>
    <br>
<br>
    <p>Choose space for the group</p>
<div>{% render_table spaces_table%}</div>
</div>

 <form method="post" id="AssignSpaceForm" data-employees-url="{% url 'space_planner:ajax_assign_spaces' %}" novalidate>
    {% csrf_token %}
    <button type=submit id="submit">submit</button>
  </form>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
 document.getElementById("id_business_group").style["width"] = "150px"
    $("#submit").click(function() {
    var url = $("#AssignSpaceForm").attr("data-employees-url");
    var yourArray = [];
    var all_rows = document.getElementsByTagName("tr")
    var e = document.getElementById("id_business_group")
    var selected_bg = e.options[e.selectedIndex].text;
    for (var i = 0; i < all_rows.length ; i++) {
        input = all_rows[i].getElementsByTagName("input")[0]
		if(input){
			if(input.type==="checkbox"){
				if(input.checked)
				{
					space_td = all_rows[i].getElementsByTagName("td")[4]
					yourArray.push(space_td.innerHTML)
				}
			}
		}
    }
     $.ajax({
          type:'POST',
          url: url,
          data: {
            'business_group': selected_bg,
            'spaces': yourArray,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          }
        });
 });



</script>

{%endblock%}