{% extends 'custom_user/base.html' %}

{% block content %}

  <h2>Assign Focal Point</h2>

  <form method="post" id="ChooseFocalPointForm" data-employees-url="{% url 'space_planner:ajax_load_employees' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_business_group").change(function () {
      var url = $("#ChooseFocalPointForm").attr("data-employees-url");  // get the url of the `load_employees` view
      var businessGroup = $(this).val();  // get the selected business group from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-employees/)
        data: {
          'business_group': businessGroup       // add the business to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_employees` view function
          $("#id_employee").html(data);  // replace the contents of the employees input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}