{% extends 'custom_user/base.html' %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load bootstrap3 %}

{% block content %}

<head>
    <style>
     .Header{
            margin-top:20px;
            text-align: center;
            }
      tfoot{
            background-color: #53b2cf;
       }

    </style>

</head>
<h1 class="Header">Assign spaces to business groups</h1>
<br>
<form method="post" id="ChooseBusinessGroupForm" action="{% url 'space_planner:assign'%}"
      data-requests-url="{% url 'space_planner:ajax_load_requests' %}" data-campuses-url="{% url 'space_planner:ajax_load_campus_spaces' %}"  novalidate>
    <h4>Business Groups:</h4>
    <select id="business_group" name="chosen_business_group">
            <option value="illegal">----------</option>
        {% for bg in business_groups %}
            <option value="{{bg.id}}">{{bg.id}}</option>
        {% endfor %}

    </select>
    <select id="campus" name="chosen_campus">
            <option value="illegal">----------</option>
        {% for campus in campuses %}
            <option value="{{campus.id}}">{{campus.id}}</option>
        {% endfor %}

    </select>
    <select id="building" name="chosen_building">
            <option value="illegal">----------</option>
        {% for campus in campuses %}
            <option value="{{campus.id}}">{{campus.id}}</option>
        {% endfor %}

    </select>
    <br>
    <br>
    {% csrf_token %}
    <h4>Spaces with room</h4>
    <br>
    <div id="avail_spaces_in_campus"></div>
    <h6 id="error" style="visibility:hidden">You must choose a business group in order to submit</h6>
    <button input="submit" disabled id="submit-btn" class="btn btn-primary">Submit</button>
    {{ error }}
</form>

<h3 id="requests_title" style="visibility:hidden">Requests from group</h3>
<div id="business_group_requests"></div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $("#business_group").change(function () {
      var url = $("#ChooseBusinessGroupForm").attr("data-requests-url");
      var businessGroup = $(this).val();
      if (businessGroup.localeCompare("illegal") !== 0){
          $.ajax({
              url: url,
              data: {
                'business_group': businessGroup
              },
              success: function (data) {
                $("#requests_title").css('visibility', 'visible');
                $("#error").css('visibility', 'hidden');
                $("#business_group_requests").html(data);
                $("#submit-btn").prop('disabled', false);
              }
            });
      } else {
            $("#requests_title").css('visibility', 'hidden');
            $("#error").css('visibility', 'visible');
            $("#business_group_requests").html("");
            $("#submit-btn").prop('disabled', true);
      }
    });

    $("#campus").change(function () {
      var url = $("#ChooseBusinessGroupForm").attr("data-campuses-url");
      var campus = $(this).val();
      if (campus.localeCompare("illegal") !== 0){
          $.ajax({
              url: url,
              data: {
                'campus': campus
              },
              success: function (data) {
                $("#avail_spaces_in_campus").html(data);
              }
            });
      }
    });

    $(function () {

    function update_sum() {
        var sum_private = 0;
        var sum_shared = 0;
        var low_density = "✘";
        var high_density = "✘";
        var business_groups = [];
        // loop over each checkbox within <tbody>
        $('tbody input[type=checkbox]').each(function () {
            // if the checkbox is checked
            if ($(this).is(':checked')) {
                sum_private += parseInt($(this).parents('tr').find('.free_private').html());
                sum_shared += parseInt($(this).parents('tr').find('.free_shared').html());
                var is_true_low = $(this).parents('tr').find('.low_density').html();
                var is_true_high = $(this).parents('tr').find('.high_density').html();
                if (is_true_low.includes("true")){
                    low_density = "✔";
                }
                if (is_true_high.includes("true")){
                    high_density = "✔";
                }
                var business_groups_in_space = $(this).parents('tr').find('.business_groups').html().split(",");
                for (var i = 0; i < business_groups_in_space.length; i++){
                        business_groups.push(business_groups_in_space[i]);
                }
            }
        });
        var uniqueNames = [];
        $.each(business_groups, function(i, el){
            if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
        });
        $('tfoot .free_private').html(sum_private);
        $('tfoot .free_shared').html(sum_shared);
        $('tfoot .low_density').html(low_density);
        $('tfoot .high_density').html(high_density);
        $('tfoot .business_groups').html(uniqueNames.join(" , "));
    }

    // update the sum after each change
    $('tbody input[type=checkbox]').on('change', update_sum);

    // update the sum initially.
    update_sum();
});
  </script>

{%endblock%}