{% extends 'custom_user/base.html' %}

{% block content %}
  {{ error }}
  <h2>Assign Focal Point</h2>

  <form method="post" id="ChooseFocalPointForm" data-employees-url="{% url 'space_planner:ajax_load_employees' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" id="btn">Save</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $("#id_business_group").change(function () {
      var url = $("#ChooseFocalPointForm").attr("data-employees-url");
      var businessGroup = $(this).val();
      if (businessGroup == 0) { //Not selected
        $("#id_employee").html("<option value='0'>---------</option>");
      } else {
        // disable the city select while the ajax request
        $("#id_employee").prop('disabled',true);
        $.ajax({
          url: url,
          data: {
            'business_group': businessGroup
          },
          success: function (data) {
            $("#id_employee").removeAttr("disabled");
            $("#id_employee").html(data);
          }
        });
      }
    });
  </script>

{% endblock %}