{% extends 'custom_user/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
    <style>
         .Header{
            margin-top:20px;
            text-align: center;
            }
    </style>
    <body>

    <h1 class="Header">Space Statistics</h1>
    <br>
    <p>Statics for: <a href="{% url 'space_planner:get_building_table' campus_id=campus_id%}">
            {{campus_id}}
        </a>
        /{{building_id}}</p>
    <br>
    {% render_table table %}
</body>
{% endblock %}