{% extends 'custom_user/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
    <style>
         .Header{
            margin-top:20px;
            text-align: center;
            }
         tfoot{
            background-color: #bdbdbd;
       }
    </style>
    <body>

    <h1 class="Header">Space Statistics</h1>
    <br>
    <h5>Statics for: <a href="{% url 'space_planner:get_building_table' campus_id=campus_id%}">
            {{campus_id}}
        </a>
        /{{building_id}}</h5>
    <br>
    {% render_table table %}
</body>
<script>
  function GreenYellowRed(value) {
  value--;

  var r,g,b;

  if (value < 50) {
    // green to yellow
    r = Math.floor(255 * (value / 50));
    g = 255;

  } else {
    // yellow to red
    r = 255;
    g = Math.floor(255 * ((50-value%50) / 50));
  }
  b = 0;

  return r + "," + g + "," + b;
}

   $(function () {
    $('.utilization').each(function(){
        var utilization = parseInt($(this).text());
        var rgb = GreenYellowRed(utilization);
        $(this).css('background-color', "rgb(" + rgb + ")");
        });
  });
</script>
{% endblock %}