{% extends 'custom_user/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
    <body>
<style>
        #helloHeader{
            margin-top:20px;
            text-align: center;
        }
        tbody tr:hover{
            background-color: #81d4fa;
            cursor: pointer;
        }
        .table thead th {
            vertical-align: top;
        }
</style>

<h1 id="helloHeader">Requests From Focal Points</h1>
<br>
    {% render_table table %}
</body>

<script>
  $(function () {
    $('tbody > tr').click(function(){
        var request_id = $(this).attr("request_id")
        window.location.href = "/space_planner/viewrequest/".concat(request_id.toString());
        });
  });
</script>

{% endblock %}