{% extends 'custom_user/base.html' %}

{% block content %}
    <body>

    Requests From Focal Points For More Space

    <ul>
        {% for request in requests%}
        <li>
            <a href="{% url 'space_planner:viewrequest' request.id %}">
            Business Group: {{ request.business_group }}
            Request Date: {{ request.date }}
            {% if request.status %}
                Status: {{ request.status}}
            {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}