<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

</head>
<a href="{% url 'homepage' %}">
    <input type="button" value="Home">
</a>
<br>
<br>

{% if user.is_authenticated %}
Logged in as {{user.email}}


<form action="{% url 'logoutuser'%}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}
<a href="{% url 'signupuser'%}">Sign Up</a>
<a href="{% url 'loginuser'%}">Log In</a>
{% endif %}
<br>
<br>

{% block content %}

{% endblock %}