{% extends 'custom_user/base.html' %}
{% load static %}
{% block content %}
    {%if user.is_authenticated%}
    <style>
        #helloHeader{
            margin-top:15px;
        }
    </style>
        {% if user.focal_point%}
            <br>
            <br>
            {% if un_read_requests%}
                You have {{un_read_requests.count}} unread message{{ un_read_requests.count|pluralize }}
                <br>
            {% endif %}
            <a href="{% url 'focal_point:requests' %}">
            <input type="button" value="Display requests from users">
            </a>
            <br>
            <br>
            <a href="{% url 'focal_point:newpositions' %}">
            <input type="button" value="Display new positions in my business group">
            </a>
            <br>
            <br>
            <a href="{% url 'focal_point:myrequests' %}">
            <input type="button" value="Display my requests from the space planner">
            </a>
            <br>
            <br>
            <a href="{% url 'focal_point:assignments' %}">
            <input type="button" value="See assignments I made">
            </a>
        {% endif %}
        {% if user.space_planner %}
        <a href="{% url 'space_planner:requests' %}">
            <input type="button" value="Display requests from focal points">
            </a>
        <br>
        <br>
        <a href="{% url 'space_planner:assign' %}">
            <input type="button" value="Assign spaces">
        </a>
        <br>
        <br>
        <a href="{% url 'space_planner:assignfocalpoint' %}">
            <input type="button" value="Assign Focal Point">
        </a>
        <br>
        <br>
        <a href="{% url 'space_planner:statistics' %}">
            <input type="button" value="Display Facilities Utilization Statistics">
        </a>
        <br>
        <br>
        <a href="{% url 'space_planner:new_positions' %}">
            <input type="button" value="Display All New Positions">
        </a>
        {% endif %}
         {% if not user.focal_point and not user.space_planner%}
      <h1 id="helloHeader">Hello {{user.email}}!</h1>
        <br>
        <br>
        <h4>Business Group</h4>
        {{ business_group }}
         <br>
        <br>
        <h4>Current Focal Point</h4>
        {% for fp in focal_point %}
            {{ fp }}
        {% empty %}
             You don't have a focal point yet.
        {% endfor %}
        <br>
        <br>
        <h4>My Cubic Details</h4>
        {% if assignments%}
        <ul>
            {% for assignment in assignments%}
            <li>
                Assignment number {{ forloop.counter }}
                <br>
                <br>
                Cubic: {{assignment.cubic}}
                <br>
                <br>
                Assigner: {{assignment.assigner}}
                <br>
                <br>
                Assignment Time: {{assignment.time}}
                <br>
                <br>
            </li>
            {% endfor %}
        </ul>
        {% else %}
         <p>You have no cubics assigned</p>
        {% endif %}
    {% endif %}
    {% else %}
    <div class="row justify-content-center mt-5">
        <div class="text-center">
                 <h1>Welcome To Cubic Management System</h1>
                <img src="{% static 'img/Inspirational-Home-Office-Workspace-Tips-to-Get-Organized.jpg' %}" class="bg">
        </div>
    </div>

    {% endif %}



{% endblock %}