{% extends 'custom_user/base.html' %}

{% block content %}
    {%if user.is_authenticated%}
        <h1>Welcome to cubic management system</h1>
        <a href="{% url 'custom_user:mycubic' %}">
            <input type="button" value="My Cubic">
        </a>

        <br>
        <br>
        <a href="{% url 'custom_user:searchcubic' %}">
            <input type="button" value="Search the location of another employee">
        </a>
        <br>
        <br>
        <a href="{% url 'custom_user:requests' %}">
            <input type="button" value="Display my requests">
        </a>
        <br>
        <br>
        {% if user.focal_point%}
            <br>
            <br>
            {% if un_read_requests%}
                You have {{un_read_requests.count}} unread message{{ un_read_requests.count|pluralize }}
                <br>
            {% endif %}
            <a href="{% url 'focal_point:requests' %}">
            <input type="button" value="Display requests from users">
            </a>
            <br>
            <br>
            <a href="{% url 'focal_point:newpositions' %}">
            <input type="button" value="Display new positions in my business group">
            </a>
            <br>
            <br>
            <a href="{% url 'focal_point:myrequests' %}">
            <input type="button" value="Display my requests from the space planner">
            </a>
            <br>
            <br>
            <a href="{% url 'focal_point:assignments' %}">
            <input type="button" value="See assignments I made">
            </a>
        {% endif %}
        {% if user.space_planner %}
        <a href="{% url 'space_planner:requests' %}">
            <input type="button" value="Display requests from focal points">
            </a>
        <br>
        <br>
        <a href="{% url 'space_planner:assign' %}">
            <input type="button" value="Assign spaces">
        </a>
        {% endif %}

    {% endif %}


{% endblock %}