{% extends 'custom_user/base.html' %}

{% block content %}
<body>
<style>
        #helloHeader{
            margin-top:20px;
            text-align: center;
        }
</style>
<br>
<h1 id="helloHeader">My Cubic Details</h1>
    <br>
    {% if assignments%}
    <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Assignment number</th>
                    <th>Cubic</th>
                    <th>Assigner</th>
                    <th>Assignment Time</th>
                  </tr>
                </thead>
                <tbody>
                {% for assignment in assignments%}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{assignment.cubic}}</td>
                <td>{{assignment.assigner}}</td>
                <td>{{assignment.time}}</td>
                </tr>
            {% endfor %}
                </tbody>
    </table>
    {% else %}
        <p>You have no cubics assigned</p>
    {% endif %}
</body>

{% endblock %}