{% extends 'custom_user/base.html' %}

{% block content %}
<body>
<style>
        .helloHeader{
            margin-top:20px;
            text-align: center;
        }
        label {
        display: block;
        }
        input:not([type='checkbox']) ,select{
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        line-height: 1.5;
        height: calc(1.5em + .75rem + 2px);
        }
</style>
<br>
<h1 class="helloHeader">Where are your friends seated?</h1>

<div class="row justify-content-center mt-5">
      <div class="col-md-5">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">OK</button>
        </form>
      </div>
</div>
    {% if assignments%}
    <h2 class="helloHeader">Assigements for: {{assignments.0}}</h2>
    <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Assignment number</th>
                    <th>Cubic</th>
                    <th>Assigner</th>
                    <th>Assignment Time</th>
                  </tr>
                </thead>
                <tbody>
                {% for assignment in assignments%}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{assignment.cubic}}</td>
                <td>{{assignment.assigner}}</td>
                <td>{{assignment.time}}</td>
                </tr>
            {% endfor %}
                </tbody>
    </table>
    {% else %}
        <p class="helloHeader">{{ error }}</p>
    {% endif %}
</body>

{% endblock %}