<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
    <body>

    My Requests

    <ul>
        {% for request in requests%}
        <li>
            <a href="{% url 'custom_user:viewrequest' request.id %}">
            User: {{ request.user }}
            Request Date: {{ request.request_date }}
            {% if request.status %}
                Status: {{ request.status}}
            {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>