{% extends 'custom_user/base.html' %}

{% block content %}

<body>

<style>
        .helloHeader{
            margin-top:20px;
            text-align: center;
        }
        label {
        display: block;
        }
        input:not([type='checkbox']) ,select{
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        line-height: 1.5;
        height: calc(1.5em + .75rem + 2px);
        }
        textarea{
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        line-height: 1.5;
        height: calc(6em + .75rem + 2px);
        }
</style>

<h1 class="helloHeader">Edit your request</h1>
{{ error }}

<div class="row justify-content-center mt-5">
      <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Delete</button>
            </form>
      </div>
</div>


<form style='display: none;' method="POST" action="{% url 'custom_user:deleterequest' request.id %}">
    {% csrf_token %}
    <button id="delete" type="submit">Delete</button>
</form>

</body>

{% endblock %}